#root {
    max-height: 100%;
}

.row {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.dice {
    flex: 1 1 0;

    margin: 8px;

    border-color: black;
    border-width: 4px;
    border-style: solid;

    background: beige;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8em;
    font-family: sans-serif;
    font-weight: bold;
}

.dice:before{
    content: '';
    float: left;
    padding-top: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls > button {
    font-size: 8em;
    flex: 1;
    margin: 8px;
}